
<link href="" rel="stylesheet" id="bootstrap-css">
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a routerLink="/accueil" class="">Accueil</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="/offr-emp"> Offres d'emploi <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >conseils et services</a>
                                </li>
                                <li><a href="#">Add New</a></li>
                            </ul>
                        </li>
                       
                        <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="/conseils">conseils et services<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Managers</a></li>
                                <li><a href="#">Add New</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="/cv">Déposer un cv <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Staff</a></li>
                                <li><a href="#">Add New</a></li>
                                <li><a href="#">Bulk Upload</a></li>
                            </ul>
                        </li>
                        <li class=" down"><a routerLink="/entreprises" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entreprises <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Change Time Entry</a></li>
                                <li><a href="#">Report</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a *ngIf="!isAuth" routerLink="/auth/login" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Se connecter  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Applicant Login</a></li>
                                <li><a href="#">HR Login</a></li>
                            </ul>
                        </li>
                        
                
                        <li class=" dropdown"><a *ngIf="!isAuth" routerLink="/auth/signup" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">S'inscrire <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                <li><a href="#">Applicant Register</a></li>
                                <li><a href="#">HR Register</a></li>
                            </ul>
                            </li>
                        <li class=" dropdown"><a *ngIf="isAuth" (click)="onSignOut()" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Déconnexion<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                        <li><a href="#">Applicant Register</a></li>
                                        <li><a href="#">HR Register</a></li>
                                    </ul>
                                    </li>
                                    
                                    
                    </ul>
                </div>
                
            </div>
        </nav>
    </div>
  </div>
