<div id="searchbar" class="barre">
    <br>
    <br>
    <br>
    <br>
    <br>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">

                        </div>
                        <!--end of col-->
                        <div class="col">
                            <h1 class="buttonrecherche">Recherche d'emploi</h1>
                            <input class="form-control form-control-lg" type="search" placeholder="Mot-clé (ex: Commercial)">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success buttonrecherche" type="submit">Rechercher</button>
                        </div>
                        <!--end of col-->

                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </div>